* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.banner-title {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}

p#title {
    color: #f8f8ff;
}

#background-picture {
    background-image: url(./assets/pexels-lucía-montenegro-12185637.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50vw;
}

.form-column-right {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    flex-direction: column;
    background-color: #f8f8ff;
}

.form-column-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 10px 6px 16px lightgrey;
    padding: 2rem 0rem;
}

div#form-title-text {
    padding: 0px 2rem 0px 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.form {
    display: flex;
    padding: 2rem;
    gap: 10rem;
    font-size: 1.2rem;
}

.form-info {
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.form-info p {
    padding: 0rem 12rem 0rem 0rem;
}

.form input {
    font-size: 1rem;
    border-radius: 5px;
}

.form input:valid:focus {
    border: 3px solid #555;
    box-shadow: 10px 6px 16px lightgrey;
}

.form input:invalid:focus {
    border: 3px solid red;
    box-shadow: 10px 6px 16px lightgrey;
}

.form label {
    font-size: 1rem;
}

.form-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 2rem;
}

.form-button button {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: green;
    color: #f8f8ff;
}

.form-button button:hover {
    box-shadow: 10px 6px 16px grey;
}

.form-button button:active {
    transform: translateY(4px);
    box-shadow: none;
}